{% extends "base-blog.twig" %}

{% block content %}
    {# {{ dump(pagination)}} #}
  <h1>{{wp_title}} archive-art</h1>
  <div class="content-wrapper">
    {% for post in posts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease-art.twig'] %}
    {% endfor %}

    {% include 'partial/pagination.twig' with { pagination: pagination } %}
  </div>
{% endblock %}
