{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base-art.twig" %}

{% block content %}
  {# see `base.twig:27` for where this block's content will be inserted #}
  
  <h1>{{wp_title}}</h1>
  <div class="content-wrapper">
    {% for post in posts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease-art.twig'] %}
    {% endfor %}

    {% include 'partial/pagination-archive.twig' with { pagination: pagination } %}
  </div>
  {# {{ dump() }} #}
{% endblock %}
