{% block content %}
<div class="hp-m-top hp-bold hp-head-font hp-bigger">Latest News </div>
	{% for post in posts %}
		<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
	{% endfor %}
	
{% endblock %}