{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base-search.twig" %}

{% block content %}
  <div class="content-wrapper">
  <h1>{{wp_title}}</h1>
    {% for post in posts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}

    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
  </div>
{% endblock %}
