<div class="tool-pagination flex justify-btwn">
    {% if pagination.next|length %}
        <span><< <a href="{{pagination.next.link}}" class="next">Next</a></span>
    {% else %}
        <span class="next placeholder">&nbsp;</span>
    {% endif %}
    {% if pagination.prev|length %}
        <span><< <a href="{{pagination.prev.link}}" class="prev">Previous</a></span>
    {% else %}
        <span class="prev placeholder">&nbsp;</span>
    {% endif %}
</div>