{% if posts.pagination.pages is not empty %}
<div class="tool-pagination flex justify-btwn">
    {% if posts.pagination.next %}
		<span><< <a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'invisible'}}">Previous</a></span>
	{% endif %}
    {% if posts.pagination.prev %}
		<span><< <a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}">Next</a></span>
	{% endif %}
</div>
{% endif %}
